{%  extends 'base.html.twig' %}

{%  block body %}
    {% for post in posts %}
        <h1>{{ post.title }}
            <a href="{{ url('demo_upd_post', {post: post.getId()}) }}" style="float: right" class="pull-right right">Edit</a>
            <a href="{{ url('demo_post_delete', {post: post.getId()}) }}" style="float: right" class="pull-right right">X</a>
        </h1>
        {%  if post.category %}<h2>Catégorie : {{ post.category.title }}</h2>{% endif %}
        <div style="font-style: italic">
            {{ post.dateCreated|date('d/m/Y') }}
        </div>
        <div>{{ post.content }}</div>

        <hr>
    {% endfor %}
{% endblock %}